<li class="top_menu_list"><a class="top_menu_link" href="/account/">Личный кабинет</a></li>
<li class="top_menu_list"><a class="top_menu_link" href="/homework_3">Галлерея</a></li>
<li class="top_menu_list"><a class="top_menu_link" href="#">Новости</a></li>
<li class="top_menu_list"><a class="top_menu_link" href="#">Отзывы</a></li>
<li class="top_menu_list"><a class="top_menu_link" href="/products/">Товары</a></li>
<li class="top_menu_list"><a class="top_menu_link" href="#">Корзина</a></li>
<li class="top_menu_list"><a class="top_menu_link" href="/contacts.php">Контакты</a></li>
<li class="logout_list"><a class="logout_link" href="/authentication/logout/">Выйти</a></li>