{% extends 'index.html' %}

{% block container %}
<article style="padding-bottom: 20px">
    <h3 class="heading-items">Featured Items</h3>
    <p class="tac">Shop for items based on what we featured in this week</p>
    <p class="message">{{message}}</p>
    <div class="box-product">
        {% include 'productsList.html' %}
    </div>
    <input class="next_page" type="button" name="next_page" value="Next page" data-page="{{page}}">
</article>
{% endblock %}
{% block script %}
<script src="/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(() => {
        //Инициализируем поле для сообщений
        const $message_field = $('.message');
        $('.item-product').on('click', '.item-add_link_top', e => {
            e.preventDefault();
            $.post({
                url: '/api.php',
                data: {
                    apiMethod: 'addToCart',
                    postData: {
                        id: $(e.currentTarget).data('id'),
                        img: $(e.currentTarget).data('img'),
                        name: $(e.currentTarget).data('name'),
                        price: $(e.currentTarget).data('price'),
                        quantity: $(e.currentTarget).data('quantity'),
                    }
                },
                success: function (data) {
                    //data - приходят те данные, которые прислал сервер
                    if (data.data) {
                        $message_field.text(data['data']);
                    }
                    if (data.error) {
                        $message_field.text(data['error_text']);
                    }
                }
            });
        });

        //Функция AJAX загрузки товаров
        function getProducts() {
            $.ajax({
                url: "/products/readProducts.php?rawProducts=1&page=" + ++currentPage,
                success: function (data) {
                    if (data.length) {
                        $productsList.append(data);
                    } else {
                        $nextPage.hide();
                    }
                }
            })
        }

        const $productsList = $('.box-product');
        const $nextPage = $('.next_page');
        let currentPage = 0;
        $nextPage.on('click', getProducts);
    });
</script>
{% endblock %}