{% for product in products %}
<section class="item-product">
    <a href="/products/view/?id={{product.id}}" class="product">
        <img class="product-img" src="/{{product.image}}" alt="product_img">
        <div class="product-text">
            <h5 class="product-name">{{product.name}}</h5>
            <span class="product-price">$ {{product.price}}</span>
            <span class="product-comment">☆☆☆☆☆</span>
        </div>
    </a>
    {% if session %}
    <div class="item-add_top">
        <a href="#" class="item-add_link_top" data-id="{{product.id}}" data-price="{{product.price}}"
           data-discount={{product.discount}}>Add to Cart</a>
    </div>
    {% endif %}
    {% if admin %}
    <div class="item-add_bottom">
        <a href="/products/create/" class="item-add_link_bottom">Create</a>
        <a href="/products/update/?id={{product.id}}" class="item-add_link_bottom">Update</a>
        <a href="/products/delete/?id={{product.id}}" class="item-add_link_bottom">Delete</a>
    </div>
    {% endif %}
</section>
{% endfor %}