{% extends 'index.html' %}

{% block content %}
<form class="my_form" action="" method="POST">
    <div>
        <div>
            <label class="product_label">product id:
                <input class="product_id" type="text" name="id" required value="{{product.id}}">
            </label>
        </div>
        <div>
            <label class="product_label">product name:
                <input class="product_name" type="text" name="name" required value="{{product.name}}">
            </label>
        </div>
        <div>
            <label class="product_label">product price:
                <input class="product_price" type="text" name="price" required value="{{product.price}}">
            </label>
        </div>
        <div>
            <label class="product_label">product image:
                <input class="product_img" type="text" name="image" required value="{{product.image}}">
            </label>
        </div>
        <div>
            <input class="update_submit" type="submit">
        </div>
    </div>
    <div>
        <label class="product_label">product description:
            <textarea class="product_description" name="description" cols="100" rows="30"
                      required>{{product.description}}</textarea>
        </label>
    </div>
</form>
{% endblock %}