{% extends 'index.html' %}
{% block container %}
<h1>{{h1}}</h1>
<div class="user_account_box">
    <span class="text">Здравствуйте, </span><span class="user_account_text">{{name}}</span>
</div>
<div class="user_account_box">
    <span class="text">Ваш логин: </span><span class="user_account_text">{{login}}</span>
</div>
{% block content %}
<div>
    <h5 class="user_account_header">Вы недавно смотрели:</h5>
    {% for page in pages %}
    <p class="user_account_text">{{page}}</p>
    {% endfor %}
</div>
<div style="padding-top: 20px">
    {% include 'orderTable.html' %}
</div>
{% endblock %}
{% endblock %}
{% block script %}
<script src="/js/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(() => {
        //Инициализируем поле для сообщений
        const $message_field = $('.error_message');
        $('.user_order_status_input').on('click', e => {
            console.log(e.currentTarget.value);
            $.post({
                url: '/api.php',
                data: {
                    apiMethod: 'updateStatus',
                    postData: {
                        order_id: $(e.currentTarget).data('order_id'),
                        status: (e.currentTarget).value,
                    }
                },
                success: function (data) {
                    if (data.data) {
                        location.reload();
                    }
                    if (data.error) {
                        $message_field.text(data['error_text']);
                    }
                }
            });
        });
    });
</script>
{% endblock %}